// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2022 Jisheng Zhang <jszhang@kernel.org>
 */

/dts-v1/;

#include "bl808.dtsi"

/ {
	compatible = "sipeed,m1s", "bouffalolab,bl808";

	memory@50000000 {
		device_type = "memory";
		reg = <0x50000000 0x04000000>;
	};
};

&xtal {
	clock-frequency = <40000000>;
};
