// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2022 Jisheng Zhang <jszhang@kernel.org>
 */

/dts-v1/;

#include "bl808-sipeed-m1s.dtsi"

/ {
	model = "Sipeed M1s Dock";
	compatible = "sipeed,m1s-dock", "sipeed,m1s", "bouffalolab,bl808";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:2000000n8";
	};
};

&pinctrl {
	uart0_pins: uart0-pins {
		pinmux = <BL808_PINMUX(16, BL808_FUNC_UART0_TX)>,
			 <BL808_PINMUX(17, BL808_FUNC_UART0_RX)>;
		bias-pull-up;
		input-enable;
		output-enable;
		drive-strength-microamp = <12800>;
	};
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";
	status = "okay";
};
