// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2022 Jisheng Zhang <jszhang@kernel.org>
 */

/dts-v1/;

#include "bl808-sipeed-m1s.dtsi"

/ {
	model = "Sipeed M1s Dock";
	compatible = "sipeed,m1s-dock", "sipeed,m1s", "bouffalolab,bl808";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:2000000n8";
	};
};

&uart0 {
	status = "okay";
};
